- var Samsung = {"img":"img/phone-1.png","name":"Samsung GT-I9301I  GALAXY S 3","typeSIM":"Micro-SIM","countSIM":1,"color":"Белый","OS":"Android","threeG":"Есть","fourG":"Нет","GPS":"Есть","price":"11 290","art":"123456"}
- var Lumia640 = {"img":"img/phone-1.png","name":"Microsoft Lumia 640 RM-1077","typeSIM":"Micro-SIM","countSIM":2,"color":"Белый","OS":"Windows Phone","threeG":"Есть","fourG":"Нет","GPS":"A-GPS","price":"10 990","art":"123456"}
- var Archos = {"img":"img/phone-1.png","name":"Archos 50 Oxygen Plus","typeSIM":"Micro-SIM","countSIM":2,"color":"Серый","OS":"Android","threeG":"Есть","fourG":"Нет","GPS":"Есть","price":"9 900","art":"123456"}
- var Philips = {"img":"img/phone-1.png","name":"Philips S398 Black","typeSIM":"Micro-SIM","countSIM":2,"color":"Серый","OS":"Android","threeG":"Есть","fourG":"Нет","GPS":"Нет","price":"8 900","art":"123456"}
- var Lumia430 = {"img":"img/phone-1.png","name":"Microsoft Lumia 430RM-10","typeSIM":"Micro-SIM","countSIM":2,"color":"Черный","OS":"Windows Phone","threeG":"Есть","fourG":"Нет","GPS":"A-GPS","price":"5 390","art":"123456"}
- var Senseit = {"img":"img/phone-1.png","name":" Senseit L301 Black","typeSIM":"Micro-SIM","countSIM":2,"color":"Черный","OS":"Android","threeG":"Есть","fourG":"Нет","GPS":"Есть","price":"4 990","art":"123456"}
- var HIGHSCREEN = {"img":"img/phone-1.png","name":"HIGHSCREEN WinWin Black","typeSIM":"Micro-SIM","countSIM":2,"color":"Черный","OS":"Windows Phone","threeG":"Есть","fourG":"Нет","GPS":"Есть","price":"3 990","art":"123456"}
- var Alcatel = {"img":"img/phone-1.png","name":"Alcatel OT4013D PIXI 3 (2 SIM)","typeSIM":"Micro-SIM","countSIM":2,"color":"Белый","OS":"Android","threeG":"Есть","fourG":"Нет","GPS":"A-GPS","price":"3 290","art":"123456"}
- var Fly = {"img":"img/phone-1.png","name":"Fly IQ434 Era Nano 5","typeSIM":"Micro-SIM","countSIM":2,"color":"Черный","OS":"Android","threeG":"Есть","fourG":"Нет","GPS":"Нет","price":"1 790","art":"123456"}
- var items = [Samsung,Lumia640,Archos,Philips,Lumia430,Senseit,HIGHSCREEN,Alcatel,Fly]
mixin phone(className)
	ul(class="phone-content"+className)
		each item in items
			li(class="phone-item").clearfix
					div(class='_line').clearfix
						div(class="phone_img-holder")
							img(src = item.img class="phone-img")
						div(class="phone_ico-holder")
							ul(class="ico_list")
								li(class="ico_item")
									a.ico_link
										img(class="ico_img" src="img/phone-1ico.png")
								li(class="ico_item")
									a.ico_link
										img(class="ico_img" src="img/phone-2ico.png")
								li(class="ico_item")
									a.ico_link
										img(class="ico_img" src="img/phone-4ico.png")
						p(class="art") Артикул: #{item.art}					
					div(class='_line').clearfix
						.opis_holder
							p.opis Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц						
						div(class="phone_name")				
							h2 #{item.name}
						ul(class="kit")
							li.clearfix 
								span(class="left-col") Тип SIM-карты
								span(class="right-col") #{item.typeSIM}
							li.clearfix 
								span(class="left-col") Количество SIM-карт
								span(class="right-col") #{item.countSIM}
							li.clearfix 
								span(class="left-col") Цвет
								span(class="right-col") #{item.color}
							li.clearfix 
								span(class="left-col") ОС
								span(class="right-col") #{item.OS}
							li.clearfix 
								span(class="left-col") Связь 3G
								span(class="right-col") #{item.threeG}
							li.clearfix 
								span(class="left-col") 4G(LTE)
								span(class="right-col") #{item.fourG}
							li.clearfix 
								span(class="left-col") GPS-модуль
								span(class="right-col") #{item.GPS}			
						ul(class='stars')
							li.star
								img(src="img/redStar.png")
							li.star
								img(src="img/redStar.png")
							li.star
								img(src="img/redStar.png")
							li.star
								img(src="img/redStar.png")
							li.star
								img(src="img/flatStar.png")
							li.star 4
					div(class='_line')		
						div(class='price').clearfix		
							h4.price_num #{item.price}
								span.rub p
							.availability_holder
								p(class='availability') В наличии
							a(class="phone_bay" href="#") В корзину
